# API Package:DHSpy

This notebook provides a simple use case for the DHS STATcompiler API.

In [1]:
import pandas as pd

### 1. Import the package and generate query object

In [2]:
! pip install git+https://github.com/USAID-Data-Services-Research/DHSpy --quiet

In [3]:
from DHSpy import query
query = query()

### 2. Explore series, country, and survey options

In [4]:
query.series_options.head()

,IndicatorId,Label,Definition
0,FE_FRTR_W_A10,Age specific fertility rate: 10-14,Age-specific fertility rate for the three year...
1,FE_FRTR_W_A15,Age specific fertility rate: 15-19,Age-specific fertility rate for the three year...
2,FE_FRTR_W_A20,Age specific fertility rate: 20-24,Age-specific fertility rate for the three year...
3,FE_FRTR_W_A25,Age specific fertility rate: 25-29,Age-specific fertility rate for the three year...
4,FE_FRTR_W_A30,Age specific fertility rate: 30-34,Age-specific fertility rate for the three year...

In [5]:
query.country_options.head()

   CountryName ISO2_CountryCode
0  Afghanistan               AF
1      Albania               AL
2       Angola               AO
3      Armenia               AM
4   Azerbaijan               AZ

In [6]:
query.survey_options.head()

    SurveyId SurveyYearLabel SurveyType  CountryName
0  AF2015DHS            2015        DHS  Afghanistan
1  AL2008DHS         2008-09        DHS      Albania
2  AO2006MIS         2006-07        MIS       Angola
3  AO2011MIS            2011        MIS       Angola
4  AO2015DHS         2015-16        DHS       Angola

### Select data of interest

In [16]:
# select the series and survey of interest. 
query.series_selection = ['FE_FRTR_W_A10']

# survey(s) of interest 
query.survey_selection = ['AL2008DHS']

Run the query

In [17]:
data = query.run()

UnboundLocalError: local variable 'final_data' referenced before assignment